apiVersion: apps/v1
kind: Deployment
metadata:
  name: numerical-mac-app
  labels:
    app: numerical-mac
spec:
  replicas: 1
  selector:
    matchLabels:
      app: numerical-mac
  template:
    metadata:
      labels:
        app: numerical-mac
    spec:
      imagePullSecrets:
        - name: harbor-registry-secret
      containers:
        - image: harbor.arpansahu.space/library/numerical_mac:latest
          name: numerical-mac
          envFrom:
            - secretRef:
                name: numerical-secret
          ports:
            - containerPort: 8003
              name: gunicorn
  revisionHistoryLimit: 0