services:
  web:
    build:  # This section will be used when running locally
      context: .
      dockerfile: Dockerfile
    image: ${DOCKER_REGISTRY}/${DOCKER_REPOSITORY}/${DOCKER_IMAGE_NAME}:${DOCKER_IMAGE_TAG}
    env_file: ./.env
    container_name: ${ENV_PROJECT_NAME}
    # volumes:
    #   - .:/app  # Only for local development, commented out for production deployment
    ports:
      - "${DOCKER_PORT}:${DOCKER_PORT}"
    restart: unless-stopped