SECRET_KEY=

DEBUG=

ALLOWED_HOSTS=

USE_S3=True

MAIL_JET_API_KEY=

MAIL_JET_API_SECRET=

AWS_ACCESS_KEY_ID=

AWS_SECRET_ACCESS_KEY=

AWS_STORAGE_BUCKET_NAME=

BUCKET_TYPE=

DATABASE_URL=

REDIS_CLOUD_URL=

# Domain and Protocol Configuration
# For LOCAL: DOMAIN=localhost:8003 and PROTOCOL=http
# For PRODUCTION: DOMAIN=yourdomain.com and PROTOCOL=https
DOMAIN=

PROTOCOL=

# SENTRY
SENTRY_ENVIRONMENT=

SENTRY_DSH_URL=

# Harbor Configuration
HARBOR_URL=https://harbor.arpansahu.space
HARBOR_USERNAME=
HARBOR_PASSWORD=